.product_container {
  display: flex;
  width: 780px;
  align-items: flex-start;
  gap: 32px;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #DDD);
}

.img {
  border-radius: var(--radius-big, 12px) 0px 0px var(--radius-big, 12px);
  background: lightgray 50% / cover no-repeat;
}

.description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 548px;
  height: 180px;
  padding: 32px 32px 32px 0px;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 130%;
}

.title_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--txt-black, #282828);
  font-weight: 500;
}

.btn_delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
}